._container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, auto));
  margin: 2rem 2rem;
}
._contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._contact_title {
  display: flex;
  justify-content: center;
}

._contact_emailContainer {
  padding: 0rem 1rem;
  background: #000;
  border-radius: 40px;
  padding: 1rem;
}
._contact_emailContainer a {
  color: #2fe6af;
  font-size: 1em;
}

._social {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

._social_networks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, auto));
  justify-content: space-around;
  gap: 1rem;
  margin: 1rem 0rem;
}

._social_networks figure {
  margin: 0;
  height: auto;
  width: 100%;
}

._social_portfolio {
  display: inherit;
  justify-content: center;
}
._social_portfolio a:hover {
  color: #2fe6af;
}

@media (max-width: 730px) {
  ._container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 2rem;
  }
  ._contact {
    margin-bottom: 1rem;
  }
}
