@media only screen and (max-width: 1024px) {
  /* ancho maximo de 560px para moviles */

  .projects__container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__item {
    margin: 0 auto;
  }
  .about__container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact__container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 914px) {
  /* ancho maximo de 560px para moviles */
  .skills__container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .skills__container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects__item {
    margin: 0px;
  }
  .about__container-grid {
    grid-template-columns: 1fr 1fr;
  }
  .about__container--img {
    overflow: hidden;
    width: 70%;
    margin: 0 auto;
  }
  .footer {
    justify-content: center;
  }
}
@media only screen and (max-width: 750px) {
  /* ancho maximo de 560px para moviles */
  .projects__container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 479px) {
  .skills__container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .about__container-grid {
    display: flex;
    flex-wrap: wrap;
  }
  .contact__container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer {
    justify-content: center;
  }
}

@media only screen and (max-width: 414px) {
  .projects__item {
    width: auto;
  }
  .projects__container-grid .projects__item figure {
    margin: 0 auto;
  }

  .about__container .about__container--description p {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .skills__container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects__container-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
  }
  .projects__item {
    width: auto;
  }
  .projects__container-grid .projects__item figure {
    margin: 0 auto;
  }

  .about__container .about__container--description p {
    text-align: center;
  }
  footer {
    justify-content: center;
  }
}

/* Portrait and Landscape */
@media only screen and (max-width: 320px) {
  .skills__container-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects__container-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 0px;
  }
  .projects__item {
    display: grid;
  }
  .projects__container-grid .projects__item figure {
    width: 70%;
    height: 160px;
  }

  .contact__container--icons .container__icons {
    display: block;
  }
  .contact__container--icons .container__icons div {
    padding: 5px 0px;
  }

  footer {
    justify-content: center;
  }
}
